<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="register.css">
        <title>home page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <img src="pick-n-pay-logo1.jpg" />
            <li><a data-toggle="tab" href="register.html">Register</a></li>
            <li class="active"><a data-toggle="tab" href="#">Login</a></li>
        </div>
    </body>
</html>
